@mixin gradient($from, $to){
  background-color: #666666;
  background-image: -webkit-gradient(linear, left top, left bottom, $from, to($to)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $from, $to); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient(top, $from, $to); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $from, $to); /* IE10 */
  background-image:      -o-linear-gradient(top, $from, $to); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $from, $to);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#{$from}, EndColorStr=#{$to})";
            position: relative;
            /*z-index: -1;*/
}
