@import url('refinery/application.css');
@import 'rounded';

body {
  font-family: Tahoma;
  font-size: 13px;
}

a {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

.clear{
  clear: both;
}

article{
  margin-bottom: 20px;
  &.news_item_truncated{
    border-bottom: 1px dashed black;
    padding: 5px;
  }
}


span.new_news{
  color: #bc0202;
}

#body_content {
  width: 96%;
  color: #333;
  padding: 2%;
}

#page_container{
  background: url(/images/body-bg.png) repeat-x #CCCCCC;
}

div#header{
  height: 260px;

}

nav#menu{
    background: url(/images/menu-bg.png) repeat-x;
    /*border: 1px solid #666666;*/
    @include rounded(6px);
    height: 40px;
    font-size: 14px;
    line-height: 28px;
    margin-top: 260px;
    position: absolute;
    width:1000px;
}

#menu ul {
  list-style: none;
  padding: 0px;
  background-color: #999;
  @include rounded(6px);
}

#menu ul li {
  float: left;
  margin-right: 10px;
}

#menu ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #333333;
  text-shadow: 1px 1px #dddddd;
}

#menu ul li a:hover {
  color:#ffffff;
  text-shadow: 1px 1px #333333;
}

section#page{
  width: 960px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

header{
  height: 300px;
  background: url(/images/header-bg.gif) no-repeat;
}

footer{
  width: 100% !important;
  #footer{
    width:1000px;
    margin: 0px auto;
    line-height: 40px;
  }
  height: 263px;
  background: url(/images/footer-bg.png) repeat-x;
  color: #ffffff;
}

.gallery_page{
  margin: 0 180px 0 180px;
}
