@import url('refinery/application.css');
@import 'rounded';

body {
  font-family: Verdana;
  font-size: 13px;
  line-height: 18px;
}

a {
  text-decoration: none;
}

.clear{
  clear: both;
}

#body_content, #side_body_content {
  float: left;
  width: 45%;
  color: #333;
  padding: 20px;
}

#page_container{
  background: url(/images/body-bg.png) repeat-x #CCCCCC;
}

div#header{
  height: 260px;

}

nav#menu{
    background: url(/images/menu-bg.png) repeat-x;
    /*border: 1px solid #666666;*/
    @include rounded(6px);
    height: 40px;
    font-size: 14px;
    line-height: 28px;
    margin-top: 260px;
    position: absolute;
    width:1000px;
}

#menu ul {
  list-style: none;
  padding: 0px;
}

#menu ul li {
  float: left;
  margin-right: 10px;
}

#menu ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #333333;
  text-shadow: 1px 1px #dddddd;
}

#menu ul li a:hover {
  color:#ffffff;
  text-shadow: 1px 1px #333333;
}

section#page{
  width: 960px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

header{
  height: 300px;
  background: url(/images/header-bg.png) no-repeat;
}

footer{
  width: 100% !important;
  #footer{
    width:1000px;
    margin: 0px auto;
    line-height: 40px;
  }
  height: 263px;
  background: url(/images/footer-bg.png) repeat-x;
  color: #ffffff;
}
