@import 'rounded';
@import 'gradient';

#home_gallery {
  margin: 20px 0 20px 0;
  float: left;
}

.side_body {
  width: 340px;
  height: 500px;
  float: right;
}

ul#middle_content {
  background-color: #777777;
  @include gradient(#000000, #666666);
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 2%;
  color: white;

  li {
    list-style: none;
    display: inline-block;
    vertical-align: top;

    &#news {
      width: 77%;
      &.full_size {
        width: 100%;
      }

      #home_news {

        h3 {
          a {
            color: white;
          }
        }

        article {
          @include rounded(5px);
          @include gradient(#111111, #666666);
          border: 1px solid #66666;
          background-color: #33333;
          padding: 5px 20px;

          span.dot {
            width: 15px;
            height: 15px;
            @include rounded(5px);
            background-color: #b80202;
          }
        }

      }
    }

    &#banners {
      width: 22%;

      ul {
        margin:0 9% 0 9% ;
        padding: 0;
        li {
          overflow-x: hidden;
          margin-bottom: 2em;
        }
      }

    }
  }
}

#body_content {
}

#gallery {
  float: left;
}
