@import url('refinery/application.css');
body {
  font-family: Tahoma;
  font-size: 13px; }

a {
  text-decoration: underline;
  color: black;
  font-weight: bold; }

.clear {
  clear: both; }

article {
  margin-bottom: 20px; }
  article.news_item_truncated {
    border-bottom: 1px dashed black;
    padding: 5px; }

span.new_news {
  color: #bc0202; }

#body_content {
  width: 96%;
  color: #333;
  padding: 2%; }

#page_container {
  background: url(/images/body-bg.png) repeat-x #cccccc; }

div#header {
  height: 260px; }

nav#menu {
  background: url(/images/menu-bg.png) repeat-x;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 40px;
  font-size: 14px;
  line-height: 28px;
  margin-top: 260px;
  position: absolute;
  width: 1000px;
  z-index: 100; }
  nav#menu ul {
    list-style: none;
    padding: 0px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #999; }
    nav#menu ul .dropdown {
      border: 1px #ccc solid; }
      nav#menu ul .dropdown li {
        float: none; }
    nav#menu ul li {
      float: left;
      margin-right: 10px; }
      nav#menu ul li ul {
        position: absolute; }
      nav#menu ul li a {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        color: #333333;
        text-shadow: 1px 1px #dddddd; }
      nav#menu ul li.selected > a, nav#menu ul li a:hover {
        color: #ffffff;
        text-shadow: 1px 1px #333333; }

section#page {
  width: 960px;
  margin: 0 auto;
  padding: 0 20px 0 20px; }

header {
  height: 300px;
  background: url(/images/header-bg.gif) no-repeat; }

footer {
  width: 100% !important;
  height: 263px;
  background: url(/images/footer-bg.png) repeat-x;
  color: #ffffff; }
  footer #footer {
    width: 1000px;
    margin: 0px auto;
    line-height: 40px; }

.gallery_page {
  margin: 0 180px 0 180px; }

div#news_list article ul {
  padding: 0;
  vertical-align: top;
  overflow: hidden; }
  div#news_list article ul li {
    display: inline-block !important;
    float: none;
    vertical-align: top; }
    div#news_list article ul li.first {
      width: 20%;
      text-align: center; }
    div#news_list article ul li.second {
      width: 78%; }
      div#news_list article ul li.second p {
        margin-top: 0; }
