<% content_for :head_libraries, jquery_include_tags(:jquery_ui => false) %>
<% content_for :head, javascript_include_tag('application') %>

<section id='body_content'>
  <%=raw @page.content_for(:body) %>
</section>
<section id='side_body_content'>
  <%=raw @page.content_for(:side_body) %>
</section>
